<head>
  <title>Co-ordinator dashboard</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
</head>
<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a routerLink="/markattendance">
            <span class="icon">
              <i class="fas fa-school fa-2x"></i>
            </span>

            <span id="brand" class="title">JMC</span>
          </a>
        </li>

        <li>
          <a routerLink="/markattendance">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li>
          <a routerLink="/addstudent">
            <span class="icon">
              <i class="fas fa-users"></i>
            </span>
            <span class="title">Add Students</span>
          </a>
        </li>
        <li>
          <a routerLink="/findstudent">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <span class="title">Find Students</span>
          </a>
        </li>
        <li>
          <a routerLink="/room">
            <span class="icon">
              <i class="fas fa-building"></i>
            </span>
            <span class="title">Class</span>
          </a>
        </li>
        <li>
          <a routerLink="/attendancerollno">
            <span class="icon">
              <i class="fas fa-clipboard-list"></i>
            </span>
            <span class="title">Attendance</span>
          </a>
        </li>
        <li>
          <a (click)="logout()" href="">
            <span class="icon">
              <i class="fas fa-sign-out"></i>
            </span>
            <span class="title">Logout</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <i class="fas fa-bars"></i>
        </div>

        <div class="logout" style="margin-left: 1000px">
          <a (click)="logout()" href="">
            <span class="icon">
              <i class="fas fa-sign-out-alt fa-2x"></i>
            </span>
          </a>
        </div>
        <div class="user">
          <img src="assets/imgs/motto.png" alt="" />
        </div>
      </div>
      <div class="heading" style="text-align: center">
        <h3 style="margin: 0">Mark Attendance</h3>
        <div
          *ngIf="notification"
          class="notification"
          [ngStyle]="{ 'background-color': notificationColor }"
        >
          {{ notification }}
        </div>
      </div>

      <!-- ================ Order Details List ================= -->
      <div class="details">
        <div class="table-container">
          <div class="recentOrders">
            <table>
              <thead>
                <tr>
                  <td style="text-align: center">Name</td>
                  <td style="text-align: center">Roll number</td>
                  <td style="text-align: center">Year</td>
                  <td style="text-align: center">Department</td>
                  <td>Degree</td>
                  <td>Room number</td>
                  <td style="text-align: center">Attendance</td>
                  <td>Edit</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of StudentData">
                  <td>{{ row.name }}</td>
                  <td style="text-align: center">{{ row.rollno }}</td>
                  <td>{{ row.year }}</td>
                  <td style="text-align: center">{{ row.dept }}</td>
                  <td>{{ row.degree }}</td>
                  <td>{{ row.classroom?.roomno }}</td>
                  <td>
                    <button
                      class="custom-btn btn-1"
                      (click)="markattendance(row.rollno, 1)"
                    >
                      Present
                    </button>
                    <button
                      class="custom-btn btn-2"
                      (click)="markattendance(row.rollno, 0)"
                    >
                      Absent
                    </button>
                  </td>
                  <td>
                    <button class="edit-button" (click)="onEdit(row)">
                      <svg class="edit-svgIcon" viewBox="0 0 512 512">
                        <path
                          d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
                        ></path>
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- =========== Scripts =========  -->
  <script src="assets/js/main.js" type="text/javascript"></script>
</body>
