<head>
  <title>Co-ordinator dashboard</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
</head>
<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="/home">
            <span class="icon">
              <i class="fas fa-school fa-2x"></i>
            </span>

            <span id="brand" class="title">JMC</span>
          </a>
        </li>

        <li>
          <a href="/home">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/student">
            <span class="icon">
              <i class="fas fa-book"></i>
            </span>
            <span class="title">Students </span>
          </a>
        </li>

        <li>
          <a href="/addstudent">
            <span class="icon">
              <i class="fas fa-users"></i>
            </span>
            <span class="title">Add Students</span>
          </a>
        </li>
        <li>
          <a routerLink="/findstudent">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <span class="title">Find Student</span>
          </a>
        </li>

        <li>
          <a routerLink="/room">
            <span class="icon">
              <i class="fas fa-building"></i>
            </span>
            <span class="title">Class</span>
          </a>
        </li>
        <li>
          <a routerLink="/attendancedate">
            <span class="icon">
              <i class="fas fa-clipboard-list"></i>
            </span>
            <span class="title">Attendance</span>
          </a>
        </li>
        <li>
          <a (click)="logout()" href="">
            <span class="icon">
              <i class="fas fa-sign-out"></i>
            </span>
            <span class="title">Logout</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <i class="fas fa-bars"></i>
        </div>
        <div class="search"></div>

        <div class="logout" style="margin-left: 500px">
          <a (click)="logout()" href="">
            <span class="icon">
              <i class="fas fa-sign-out-alt fa-2x"></i>
            </span>
          </a>
        </div>
        <div class="user">
          <img src="assets/imgs/motto.png" alt="" />
        </div>
      </div>
      <div class="heading" style="text-align: center">
        <h3 style="margin: 0">Search Student by batch</h3>
      </div>

      <!-- ======================= Cards ================== -->

      <!-- ================ Order Details List ================= -->
      <div class="details">
        <div class="table-container">
          <div class="newsletter-form">
            <form
              class="form"
              [formGroup]="SearchForm"
              (ngSubmit)="SearchStudents()"
            >
              <label for="year">Year:</label>
              <select required formControlName="year" id="year">
                <option value="" disabled selected>Select Year</option>
                <option value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option></option>
              </select>

              <label for="course">Course Start Year:</label>
              <input
                required=""
                placeholder="Course Start Year"
                name="text"
                id="text"
                type="text"
                formControlName="startYear"
              />
              <label for="course">Course End year:</label>

              <input
                required=""
                placeholder="Course End Year"
                name="text"
                id="text"
                type="text"
                formControlName="endYear"
              />
              <input value="Search" type="submit" />
            </form>
          </div>
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Student List</h2>
            </div>

            <table>
              <thead>
                <tr>
                  <td style="text-align: center">Name</td>
                  <td style="text-align: center">Roll number</td>
                  <td style="text-align: center">Year</td>
                  <td style="text-align: center">Department</td>
                  <td>Batch</td>
                  <td>Degree</td>
                  <td>Room number</td>
                  <td>Edit</td>
                  <td>Delete</td>
                  <td style="text-align: center">Assign Room</td>
                  <td>Download</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of StudentData">
                  <td>{{ row.name }}</td>
                  <td style="text-align: center">{{ row.rollno }}</td>
                  <td>{{ row.year }}</td>
                  <td style="text-align: center">{{ row.dept }}</td>
                  <td>{{ row.startYear }} - {{ row.endYear }}</td>
                  <td>{{ row.degree }}</td>
                  <td>{{ row.classroom?.roomno }}</td>

                  <td>
                    <button class="edit-button" (click)="onEdit(row)">
                      <svg class="edit-svgIcon" viewBox="0 0 512 512">
                        <path
                          d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
                        ></path>
                      </svg>
                    </button>
                  </td>
                  <td>
                    <button
                      class="delete-button"
                      (click)="deleteRoom(row.rollno)"
                    >
                      <svg class="delete-svgIcon" viewBox="0 0 448 512">
                        <path
                          d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                        ></path>
                      </svg>
                    </button>
                  </td>
                  <td>
                    <form id="myForm" [formGroup]="studentForm">
                      <div class="input-button-container">
                        <select
                          class="input"
                          [(ngModel)]="row.selectedRoom"
                          name="roomNumber"
                          formControlName="roomno"
                        >
                          <option
                            *ngFor="let room of ClassData"
                            [value]="room.roomno"
                          >
                            {{ room.roomno }}
                          </option>
                        </select>
                        <button
                          class="action_has has_saved"
                          aria-label="save"
                          type="button"
                          (click)="assignClass(row)"
                        >
                          <svg
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            fill="none"
                          >
                            <path
                              d="m19,21H5c-1.1,0-2-.9-2-2V5c0-1.1.9-2,2-2h11l5,5v11c0,1.1-.9,2-2,2Z"
                              stroke-linejoin="round"
                              stroke-linecap="round"
                              data-path="box"
                            ></path>
                            <path
                              d="M7 3L7 8L15 8"
                              stroke-linejoin="round"
                              stroke-linecap="round"
                              data-path="line-top"
                            ></path>
                            <path
                              d="M17 20L17 13L7 13L7 20"
                              stroke-linejoin="round"
                              stroke-linecap="round"
                              data-path="line-bottom"
                            ></path>
                          </svg>
                        </button>
                      </div>
                    </form>
                  </td>

                  <td>
                    <button class="Btn" (click)="download(row.rollno)">
                      <svg
                        class="svgIcon"
                        viewBox="0 0 384 512"
                        height="1em"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
                        ></path>
                      </svg>
                      <span class="icon2"></span>
                      <span class="tooltip">Download</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- =========== Scripts =========  -->
  <script src="assets/js/main.js" type="text/javascript"></script>
</body>
